<div class="survey-container">

  <div class="form-title">
    <h2> Découvre ton profil thérapeutique </h2>
  </div>

  <div class="survey">
<%= simple_form_for :choice, url: profile_path(current_user.id), method: :patch, data: {turbo: false} do |form| %>
        <div class="questions">
            <div id="carouselExampleControls" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <% first_choice = ["a. Entendre le chant des vagues", "b. Ressentir le soleil sur ma peau", "c. Regarder la mer et les détails autour de moi"] %>
                  <%= form.input :choice_1, as: :radio_buttons, collection: first_choice, label: "1 - A la plage ce que j'aime c'est :" %>
                </div>

                <div class="carousel-item">
                  <% second_choice = ["a. Je procède par étape pour le résoudre", "b. Je réconforte la personne", "c. J'improvise une solution"] %>
                  <%= form.input :choice_2, as: :radio_buttons, collection: second_choice, collection_wrapper_tag: 'div',
                  collection_wrapper_class: 'category-wrapper',
                  item_wrapper_class: 'category-item',
                  input_html: {class: 'category-selector'}, label: "2 - Pour résoudre un conflit je :"%>
                </div>

                <div class="carousel-item">
                  <% third_choice = ["a. Je crie et je discute après", "b. Tel un volcan j'explose", "c. Je lance des regards noirs"] %>
                  <%= form.input :choice_3, as: :radio_buttons, collection: third_choice, label: "3 - Quand tu es en colère :"%>
                </div>

                <div class="carousel-item">
                  <% fourth_choice = ["a. Etre guidé pour me détendre", "b. Un massage à 4 mains", "c. Manger sainement"] %>
                    <%= form.input :choice_4, as: :radio_buttons, collection: fourth_choice, label: "4 - Pour prendre soin de moi :"%>
                    <%= link_to profile_path do %>
                    <%= form.submit "Valider", class: "validates btn btn-primary"%>
                    <% end %>
                </div>

                  <button class="carousel-control-prev customizes" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                  </button>

                  <button class="carousel-control-next customize_next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                  </button>

              </div>
            </div>
          </div>
      <%end %>
  </div>
</div>









<%#
  <div formulaire>

    1/4

    <fieldset>
        <legend>A la plage ce que j'aime c'est:</legend>

        <div>
          <input type="radio" id="beach1" name="choix" >
          <label for="beach1">A: Entendre le chant des vagues</label>
        </div>

        <div>
          <input type="radio" id="beach2" name="choix">
          <label for="beach2">B: Ressentir le soleil sur ma peau</label>
        </div>

        <div>
          <input type="radio" id="beach3" name="choix">
          <label for="beach3">C: Regarder la mer et les détails autour de moi </label>
        </div>
    </fieldset>
  </div>



    2/4

    <fieldset>
          <legend>Pour résoudre un conflit je:</legend>

          <div>
            <input type="radio" id="anger1" name="choix1">
            <label for="anger1">A: Je procède par étape pour le résoudre</label>
          </div>

          <div>
            <input type="radio" id="anger2" name="choix1">
            <label for="anger2">B: Je réconforte la personne</label>
          </div>

          <div>
            <input type="radio" id="anger3" name="choix1">
            <label for="anger3"> J'improvise une solution </label>
          </div>
      </fieldset>


    3/4

    <fieldset>
      <legend>Quand tu es en colère.. :</legend>

      <div>
        <input type="radio" id="team1" name="choix2">
        <label for="team1">A: Je crie et je discute après</label>
      </div>

      <div>
        <input type="radio" id="team2" name="choix2">
        <label for="team2">B: Tel un volcan j'explose</label>
      </div>

      <div>
        <input type="radio" id="team3" name="choix2">
        <label for="team3"> Baston de regards noirs </label>
      </div>
  </fieldset>



  4/4

    <fieldset>
      <legend>Pour prendre soin de moi :</legend>

      <div>
        <input type="radio" id="care1" name="choix3" >
        <label for="care1">A: Etre guidé pour me détendre</label>
      </div>

      <div>
        <input type="radio" id="care2" name="choix3">
        <label for="care2">B: Un massage à 4 mains</label>
      </div>

      <div>
        <input type="radio" id="care3" name="choix3">
        <label for="care3"> Manger sainement </label>
      </div>
      </fieldset>
    </div>


</div>


</div> %>
