<div class="logout">
  <%= link_to "Se déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "log-out" %>
</div>
<div class="body-profile">
  <div class="profil d-flex justify-content-center">
    <h3>Votre profil</h3>

  </div>

  <div class="picture-name d-flex justify-content-center">
    <%= cl_image_tag(current_user.photo.key, class: "avatar-small") %>
  </div>

  <div class="complete-name d-flex justify-content-center">
    <h3><strong><%= current_user.first_name %> <%= current_user.last_name %></strong></h3>
  </div>

  <%= link_to edit_profile_path do %>
    <% if current_user.result_test.present? %>
      <div class="text-themes">
        <p>Ton profil thérapeutique :</p>
        <% if current_user.result_test == "visuel" %>
          <div class="profile-circle">
            <%= image_tag "svg/vision_quizz.svg" %>
          </div>
          <h4><%= current_user.result_test.upcase %></h4>
        <% elsif current_user.result_test == "auditif" %>
          <div class="profile-circle">
            <%= image_tag "svg/auditif_quizz.svg" %>
          </div>
          <h4><%= current_user.result_test.upcase %></h4>
        <% elsif current_user.result_test == "corporel" %>
          <div class="profile-circle">
            <%= image_tag "svg/corporel_quizz.svg" %>
          </div>
          <h4><%= current_user.result_test.upcase %></h4>
        <% end %>
      </div>
    <% else %>
        <div class="text-themes">
          <p>Découvre ton profil thérapeutique</p>
        </div>
    <% end %>
  <% end %>


  <div class="profile-info">
    <div class="title-informations">
      <p><ins> Vos informations: </ins></p>
    </div>

    <div class="informations w-100">
      <div class="location-wrapper">
        <h3>Localisation</h3>
        <p><%= current_user.location %></p>
      </div>
          <div class="hr-color"></div>
        <div class="location-wrapper">
          <h3>Email</h3>
          <p><%= current_user.email %></p>
        </div>
    </div>

    <div class="title-favorite">
      <p><ins> Vos favoris:</ins></p>
    </div>
  </div>


  <% @favorite_praticians.each do |favorite_pratician| %>
    <div class="card card-show">
      <%= link_to pratician_path(favorite_pratician)do %>
        <% if favorite_pratician.photo.attached? %>
        <%= cl_image_tag(favorite_pratician.photo.key, class: "avatar-index")%>
        <% end %>
        <div class="container-card">
          <h4><%= favorite_pratician.first_name %> <%= favorite_pratician.last_name %></h4>
          <h5><%= favorite_pratician.job %></h5>
          <div class="fa-solid fa-location-dot container-position"><h6>  <%= favorite_pratician.address %></h6></div>
          <div><p>à partir de <%= favorite_pratician.price %>€</p></div>
      <% end %>
        </div>
    <%= button_to favorite_path(Favorite.where(user: current_user, pratician: favorite_pratician).first), method: :delete, class:"heart" do%>
      <div class="container-heart">
        <%= image_tag "svg/favorites_add.svg" %>
      </div>
    <% end %>
    </div>
  <% end %>
</div>
