<div class="background">
<% @praticians.each do |pratician| %>
<div class="card">

<div class="container">
  <%# <div class="row g-2 align-items-stretch"> %>
    <%= link_to pratician_path(pratician)do %>
      <%# <div class="card1 col-6" style="width: 18rem;"> %>
                <%# <%= cl_image_tag(toy.photo.key, class: "avatar-large") %>

        <h4><strong><%= pratician.first_name %> <%= pratician.last_name %></strong></h4>
        <p>Praticien en <%= pratician.job %></p>
        <p><i class="fa-solid fa-location-dot"> <%= pratician.address %></i></p>

    <% end %>
    <i class="fa-regular fa-heart position"></i>
    </div>

  </div>
  <%# </div> %>
<% end %>
</div>
