<h1>IZEN</h1>
<hr class="hr-index">
<% if user_signed_in? %>
<% else %>
<div class= "text-sign-in"><p>Inscrivez-vous pour profiter d’un parcours personnalisé et pouvoir enregistrer vos praticiens favoris. Vous aurez aussi accès à nos recommandations et pouvoir écrire des commentaires.</p></div>
<div class="connect-btn" >
<a class="btn btn-ghost" href="#">JE M'INCRIS</a>
</div>
<% end %>
<div>
<% @praticians.each do |pratician| %>
  <div class="card">
    <%= link_to pratician_path(pratician)do %>
      <% if pratician.photo.attached? %>
      <%= cl_image_tag(pratician.photo.key, class: "avatar-index")%>
      <% end %>
    <div class="container-card">
        <h4><%= pratician.first_name %> <%= pratician.last_name.upcase %></h4>
        <h5><%= pratician.job %></h5>
        <div class="fa-solid fa-location-dot container-position"><h6>  <%= pratician.address %></h6></div>
    <% end %>
    </div>
    <%= button_to pratician_favorites_path(pratician), data:{ turbo_method: :post} do%>
      <div class="container-heart">
        <i class="fa-regular fa-heart"></i>
      </div>
    <% end %>
  </div>
<% end %>
</div>
