
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a Lego..."
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <%# <% end %>
    <% if @praticians.present?
      @praticians.each do |pratician| %>

          <%# <div class="row g-2 align-items-stretch"> %>
            <h5>
              <%= link_to pratician_path(pratician), class:"toy-title1" do %>
                <div class="card1 col-6" style="width: 18rem;">
                <%= cl_image_tag(toy.photo.key, class: "avatar-large") %>
        <p><strong><%= @pratician.first_name %></strong></p>
        <p><strong><%= @pratician.last_name %></strong></p>
        <p><strong><%= @pratician.job %></strong></p>
                </div>
              <%# <% end %>
            </h5>
          </div>
      <% end %>
      <% else %>
  </div>
    <h3>No Results</h3>
  <% end %>
</div>
