<div class="show-container">
  <% if @pratician.photo.attached? %>
    <%= cl_image_tag(@pratician.photo.key, class: "show-photo")%>
  <% end %>
  <div class="show-text">
    <h2><%= @pratician.first_name %></h2>
    <h2><%= @pratician.last_name.upcase %></h2>
    <ul>
      <li>
        <i class="fa-regular fa-heart position"></i>
        <div class="show-tag-job">
          <p><%= @pratician.job %></p>
        </div>
      </li>
      <li>
        <i class="fa-solid fa-phone-volume"></i>
        <div class="show-tag">
          <%= @pratician.phone_number %>
        </div>
      </li>
      <li>
        <i class="fa-solid fa-envelope"></i>
        <div class="show-tag">
          <%= @pratician.email %>
        </div>
      </li>
      <li>
        <i class="fa-solid fa-location-dot"></i>
        <div class="show-tag">
          <%= @pratician.address %>
        </div>
      </li>
    </ul>
  </div>
</div>
