<%# <div class="container-toy">
    <div class="card">
      <div class="text-start"> %>
      <%# <%= raise %> %>
        <p><strong><%= @pratician.first_name %></strong></p>
        <p><strong><%= @pratician.last_name %></strong></p>
        <p><strong><%= @pratician.job %></strong></p>
        <%# </div> %>


      <div class="description">
        <p><%= @pratician.phone_number %></p>
        <p><%= @pratician.email %></p>
        <p><%= @pratician.address %></p>
      </div>
       <li class="btn btn-flat"><%= link_to "retour", praticians_path %></li>
    <%# </div>
</div> %>
