<div class="show-container">
  <div class="show-back-to-index">
    <%= link_to "/praticians" do %>
      <%= image_tag "svg/cross.svg" %>
    <% end %>
  </div>
  <% if @pratician.photo.attached? %>
    <%= cl_image_tag(@pratician.photo.key, class: "show-photo")%>
  <% end %>
  <div class="show-text">
    <h2>
      <%= @pratician.first_name %>
      <%= @pratician.last_name.upcase %>
    </h2>
    <p class="pratician_description">
      "<%= @pratician.description %>"
    </p>
    <ul>
      <li>
        <%= image_tag "svg/heart_favorites.svg" %>
        <div class="show-tag">
          <div class="show-tag-job">
            <% if @pratician.job == "Ostéopathie" %>
              <%= link_to "Ostéopathie", "/osteopathie" %>
              <% elsif @pratician.job == "Sonothérapie" %>
                <%= link_to "Sonothérapie", "/sonotherapie" %>
              <% else %>
                <%= link_to @pratician.job, "/#{@pratician.job.downcase}" %>
              <% end %>
          </div>
        </div>
      </li>
      <li id="show-tag-price">
        <%= "A partir de " %>
        <strong><%= @pratician.price %> €.</strong>
      </li>
      <li>
        <%= image_tag "svg/phone.svg" %>
        <div class="show-tag">
          <%= @pratician.phone_number %>
        </div>
      </li>
      <li>
        <%= image_tag "svg/email.svg" %>
        <div class="show-tag">
          <%= @pratician.email %>
        </div>
      </li>
      <li>
        <%= image_tag "svg/location_show.svg" %>
        <div class="show-tag">
          <%= @pratician.address %>
        </div>
      </li>
    </ul>
  </div>
</div>
