<div class="show-container">
  <% if @pratician.photo.attached? %>
    <%= cl_image_tag(@pratician.photo.key, class: "show-photo")%>
  <% end %>
  <div class="show-text">
    <h2><%= @pratician.first_name %></h2>
    <h2><%= @pratician.last_name.upcase %></h2>
    <ul>
      <li class="show-inline">
        <i class="fa-regular fa-heart position"></i>
        <div class="show-job-tag">
          <%= @pratician.job %>
        </div>
      </li>
      <li>
        <i class="fa-solid fa-phone-volume"></i>
        <%= @pratician.phone_number %>
      </li>
      <li>
        <i class="fa-solid fa-envelope"></i>
        <%= @pratician.email %>
      </li>
      <li>
        <i class="fa-solid fa-location-dot"></i>
        <%= @pratician.address %>
      </li>
    </ul>
    <%= link_to "retour", praticians_path %>
  </div>
</div>
