  <div class="navbar navbar-expand-sm navbar-light ">
    <div class="container-fluid">
      <i id="back_home" class="fa-solid fa-house"></i>
      <div class="log-area">
        <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "log-out" %>
          <%= link_to profile_path do %>
            <%= image_tag "svg/profile.svg" %>
          <% end %>
          <% else %>
            <%= link_to new_user_session_path do %>
            <%= image_tag "svg/profile.svg" %>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>
