<div class="container">
  <div>
    <h1>IZEN</h1>
  </div>
  <p>Prenez rendez-vous avec un praticien recommandé en médecines douces</p>
  <div class= "search-bar">
    <%= form_with url: praticians_path, method: :get, class: "search-form" do %>
      <%= text_field_tag :query, params[:query], class: "search", placeholder: "Symptôme, trouble, thérapeute" %>
      <%= text_field_tag :address, params[:address], class: "search", placeholder: "Commune..." %>
      <%= submit_tag "Trouvez votre praticien", class: "btn-ghost search-btn" %>
    <% end %>
  </div>
  <h2 >Thématiques</h2>
  <div class=container-cercles>
    <%# <%= link_to pratician_path do %>
      <div class="cercle"><i class="fa-solid fa-user logo-home"></i>
      </div>
    <%# <% end %>
    <%# <%= link_to pratician_path do %>
      <div class="cercle"><i class="fa-solid fa-user logo-home"></i>
      </div>
    <%# <% end %>
    <%# <%= link_to pratician_path do %>
      <div class="cercle"><i class="fa-solid fa-user logo-home"></i>
      </div>
    <%# <% end %>
  </div>
</div>
